
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone-outline:before { content: '\e801'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */